@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,900&display=swap');

body{
    background-color: #E63946;
    font-family: 'Playfair Display', serif;
}

textarea{
    padding: 10px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #1D3557;
    background-color: #A8DADC;
    margin-top: 0px;
    text-align: initial;
}

h1{
    display: flex;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 70PX;
    color: #1D3557;
}

#count{
    display: flex;
    position: absolute;
    left: 50%;
    top: 87.5%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    color: #F1FAEE;
    border-color: #1D3557;
    background-color: #457B9D;
}

#reset{
        display: flex;
        position: absolute;
        left: 50%;
        top: 87.5%;
        transform: translate(-50%, -50%);
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        padding: 10px;
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        color: #F1FAEE;
        border-color: #1D3557;
        background-color: #457B9D;
}

#words{
    display: flex;
    position: absolute;
    left: 40.5%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #1D3557;
}

#characters{
    display: flex;
    position: absolute;
    left: 42.5%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #1D3557;
}

#numChar{
    display: flex;
    position: absolute;
    left: 60%;
    top: 75%;
    transform: translate(-50%, -50%);
    color: #F1FAEE;
}

#numWords{
    display: flex;
    position: absolute;
    left: 60%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: #F1FAEE;
}
#hidden, #hidde{
    display: none;
}

textarea:focus{
    outline: none;
}